:root {
  --primary-color: #303030;
  --title-color: #868585;
  --bg-color: #ffffff;
  --white-text-color: #ffffff;
  --hover-color: #a9a32a;
  --transition: 300ms cubic-bezier(0.69, 0.5, 0.88, -0.23);
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

/* -------------------------------------------------------general styles */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;

  font-size: 18px;
  line-height: 1.39;
}

.section {
  margin-bottom: 150px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;

  color: var(--title-color);
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;

  color: var(--primary-color);
}

.descr {
  line-height: 19px;

  color: var(--primary-color);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------------------------------------------header */

.header {
  padding-top: 70px;
  padding-bottom: 38px;
  margin-bottom: 150px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/bg-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1921px;

  text-align: center;
}

.header .logo-link {
  transition: color var(--transition);
  color: var(--white-text-color);
}

header .logo-link:hover {
  color: var(--hover-color);
}

.header .logo {
  margin-bottom: 134px;
  fill: currentColor;
}

.head-uptittle {
  font-size: 18px;
  line-height: 1.39;

  color: var(--white-text-color);
}

.head-title {
  margin-bottom: 3px;

  font-weight: 700;
  font-size: 64px;
  line-height: 1.36;
  font-variant: small-caps;

  color: var(--white-text-color);
}

.head-subtitle {
  margin-bottom: 50px;

  font-size: 42px;
  line-height: 1.36;

  color: var(--white-text-color);
}

.header .button {
  width: 308px;
  margin-bottom: 230px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;

  color: var(--white-text-color);
}

.header .btn-text {
  position: absolute;
  bottom: 20px;
  left: 50px;
  pointer-events: none;
}

.header .logo-icon {
  transition: background-color var(--transition);

  border: 2px solid var(--white-text-color);
  border-radius: 50%;

  fill: currentColor;
}

.header .logo-icon:hover {
  background-color: var(--hover-color);
}

.social-icon-link {
  display: flex;
  gap: 20px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.social-icon-link .item {
  width: 45px;
  height: 45px;
}

.social-icon-link .link {
  transition: color var(--transition), background-color var(--transition);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white-text-color);
}

.social-icon-link .link:hover {
  background-color: var(--bg-color);
  color: var(--hover-color);
}

.social-icon-link .icon {
  fill: currentColor;
}

/* ----------------------------------------------------services */

.services .title {
  margin-bottom: 60px;
}

.service-wrap {
  display: flex;
  gap: 90px;
}

.service-list .subtitle {
  margin-bottom: 15px;
}

.service-list .item {
  margin-bottom: 50px;
}

/* ----------------------------------------------------------green tariff section */

.green-tariff .title {
  margin-bottom: 60px;
}

.green-tariff-wrap {
  display: flex;
  gap: 90px;
}

.title-list {
  display: flex;
  margin-bottom: 120px;
  position: relative;
}

.green-label:after {
  content: '';
  display: none;
  margin-top: 2px;
  width: 100%;
  height: 1px;
  background-color: var(--title-color);
}

.hidden:checked + .green-label:after {
  display: block;
}

.input-text {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  width: 510px;

  line-height: 1.36;
  color: var(--primary-color);
}

.hidden:checked ~ .input-text {
  display: block;
}

.title-list .item:not(:last-child) {
  margin-right: 40px;
}

.img-descr {
  display: flex;
  gap: 40px;
  margin-bottom: 100px;
}

.green-tariff-bottom {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 40px;
}

.green-tariff-bottom .item {
  width: calc((100% - 40px) / 2);
}

.green-tariff-bottom .subtitle {
  margin-bottom: 5px;
}

.green-tariff-img {
  width: 600px;
}

.green-tariff-img .subtitle {
  margin-bottom: 17px;
}

/* ----------------------------------------------------banner section */

.banner {
  background-image: url(../images/bg-quote.jpg);
  background-repeat: no-repeat;
  width: 1920px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.banner-section {
  font-size: 42px;
  line-height: 1.36;
  text-align: center;

  color: var(--white-text-color);
}

/* -------------------------------------our clients section */

.clients .title {
  margin-bottom: 60px;
}

.clients-wrap {
  display: flex;
  gap: 90px;
}

.client-content {
  width: 600px;
}

.clients .subtitle {
  margin-bottom: 30px;
}

.descr-list {
  margin-bottom: 65px;
  padding-left: 50px;
}

.descr-list .item:not(:last-child) {
  margin-bottom: 15px;
}

.clients .button {
  position: relative;
  width: 308px;
  display: flex;
  justify-content: flex-start;
  color: var(--primary-color);
}

.clients .btn-text {
  position: absolute;
  bottom: 20px;
  left: 50px;
  pointer-events: none;
}

.clients .logo-icon {
  transition: background-color var(--transition);

  border: 2px solid var(--primary-color);
  border-radius: 50%;

  fill: currentColor;
}

.clients .logo-icon:hover {
  background-color: var(--hover-color);
}

/* --------------------------------------------------five steps section */

.five-steps {
  display: flex;
  gap: 90px;
}

.steps-content .title {
  margin-bottom: 60px;
}

.steps-list .subtitle {
  margin-bottom: 2px;
}

.steps-list .item {
  margin-bottom: 30px;
}

.steps-list .uptitle {
  line-height: 1.36;
  margin-bottom: 11px;

  color: var(--title-color);
}

/* --------------------------------------------------footer */

.footer {
  width: 1920px;
  height: 730px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-top {
  display: flex;
  gap: 90px;
  margin-bottom: 150px;
}

.form {
  width: 510px;
}

.footer-title {
  margin-bottom: 60px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;

  color: var(--white-text-color);
}

.site-form {
}

.input-wrap {
  position: relative;
}

.form-field {
  transition: border var(--transition);
  display: block;
  width: 510px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--white-text-color);
  margin-bottom: 60px;
  padding-bottom: 11px;

  line-height: 1.36;

  color: var(--white-text-color);
}

.form-field:not(:focus):not(:placeholder-shown):valid {
  color: rgba(0, 255, 0, 0.5);
}

.form-field:not(:focus):not(:placeholder-shown):invalid {
  color: rgba(255, 0, 0, 0.5);
}

.form-field:focus,
.form-field:hover,
.form-field:not(:placeholder-shown) {
  border-bottom: 1px solid var(--hover-color);
}

.form-field:focus + .input-label,
.form-field:hover + .input-label,
.form-field:not(:placeholder-shown) + .input-label {
  transform: translateX(-120%);
  color: var(--hover-color);
}

.input-label {
  transition: transform var(--transition), color var(--transition);

  position: absolute;
  top: 0;
  left: 0;

  line-height: 1.36;
  color: var(--white-text-color);
}

.footer .button {
  width: 308px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;

  color: var(--white-text-color);
}

.footer .btn-text {
  position: absolute;
  bottom: 20px;
  left: 50px;
  pointer-events: none;
}

.footer .logo-icon {
  transition: background-color var(--transition);
  border: 2px solid var(--white-text-color);
  border-radius: 50%;

  fill: currentColor;
}

.footer .logo-icon:hover {
  background-color: var(--hover-color);
}

.address-list .item {
  margin-bottom: 30px;

  font-style: normal;
  font-size: 18px;
  line-height: 1.39;

  color: var(--white-text-color);
}

.address-list .link {
  transition: color var(--transition);
  text-decoration: none;

  color: var(--white-text-color);
}

.address-list .link:hover {
  color: var(--hover-color);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer .politic {
  line-height: 1.14;

  color: var(--white-text-color);
}

.footer .logo-link {
  transition: color var(--transition);
  color: var(--white-text-color);
}

.footer .logo-link:hover {
  color: var(--hover-color);
}

.footer .logo {
  fill: currentColor;
}

.footer .button {
  color: var(--white-text-color);
}

.footer .logo-icon {
  transition: background-color var(--transition);
  border: 2px solid var(--white-text-color);
  border-radius: 50%;

  fill: currentColor;
}

.footer .logo-icon:hover {
  background-color: var(--hover-color);
}

.footer-social-link {
  display: flex;
  gap: 20px;
}

.footer-social-link .item {
  width: 45px;
  height: 45px;
}

.footer-social-link .link {
  transition: color var(--transition), background-color var(--transition);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  color: var(--white-text-color);
  background-color: transparent;
}

.footer-social-link .link:hover {
  background-color: var(--bg-color);
  color: var(--hover-color);
}

.footer-social-link .icon {
  fill: currentColor;
}

/* -----------------------------------------backdrop */

.backdrop {
  transition: opacity var(--transition), visibility var(--transition);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.5);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  transition: transform var(--transition);
  transform: scale(1);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  min-height: 800px;
  border-radius: 5px;
  background-color: var(--white-text-color);
}

.backdrop.is-hidden .modal {
  transform: scale(5);
}

.modal-btn {
  transition: color var(--transition), background-color var(--transition);

  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;

  color: var(--white-text-color);
  background-color: var(--title-color);
}

.modal-btn:hover {
  color: var(--primary-color);
  background-color: var(--hover-color);
}
